@font-face {
  font-family: "AnodinaBold";
  src: url("./fonts/anodina/Anodina-Bold.otf");
}

@font-face {
  font-family: "AnodinaExtraBold";
  src: url("./fonts/anodina/Anodina-ExtraBold.otf");
}

@font-face {
  font-family: "AnodinaRegular";
  src: url("./fonts/anodina/Anodina-Regular.otf");
}

body {
  font-family: AnodinaRegular !important;
}

.HeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container-main {
  position: relative;
  height: 100%;
  overflow: auto;
}

.stickyContainer {
  position: sticky !important;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.TabStyle {
  background-color: #f00;
}

.HeaderContainer,
.container,
.App>.container>.ant-card>div {
  background-color: #fcfcfc;
}

.custom-input {
  padding: 8px;
  margin: 10px;
  border: 2px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-family: inherit;
  font-size: inherit;
}

.mr-2 {
  margin-right: 2%;
}

.todoSection {
  display: flex;
  width: 100%;
  align-items: center;
}

.todoSection div:first-child {
  width: 10%;
}

.todoSection div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.todoSection div:nth-child(3) {
  width: 35%;
  display: flex;
  justify-content: center;
}

.todoSection div:last-child {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

@media(max-width:700px) {
  .todoSection {
    flex-direction: column;
  }

  .todoSection div:first-child {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
  }

  .todoSection div:nth-child(2) {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
  }

  .todoSection div:nth-child(2) span {
    margin-right: 8px;
  }

  .todoSection div:nth-child(3) {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
  }

  .todoSection div:last-child {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
  }

  .todoSection div:last-child button {
    margin: 0 8px;
  }
}